<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
   <xacro:property name="prop_mesh_file" value="file://$(find bluerov2_heavy_description)/meshes/prop_abs.dae"/>


  <!-- Thruster joint and link snippet-->
  <!-- <xacro:macro name="thruster_macro"
    params="namespace thruster_id *origin">
    <xacro:thruster_module_first_order_basic_fcn_macro
      namespace="${namespace}"
      thruster_id="${thruster_id}"
      mesh_filename="${prop_mesh_file}"
      dyn_time_constant="0.02"
      rotor_constant="0.0000">
      <xacro:insert_block name="origin"/>
    </xacro:thruster_module_first_order_basic_fcn_macro>
  </xacro:macro>   -->

  <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="0">
    <origin xyz="0.1355 -0.1 -0.067" rpy="0 1.570796 0.78539815"/>
  </xacro:thruster_macro>
  <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="1">
    <origin xyz="0.1355 0.1 -0.067" rpy=" 0 1.570796 -0.78539815"/>
  </xacro:thruster_macro>
  <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="2">
    <origin xyz="-0.1475 -0.1 -0.067" rpy=" 0 1.570796 2.356194"/>
  </xacro:thruster_macro>
  <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="3">
    <origin xyz="-0.1475 0.1 -0.067" rpy=" 0 1.570796 -2.356194"/>
  </xacro:thruster_macro> 
  <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="4">
    <origin xyz="0.12 -0.218 0" rpy="0 0 0"/>
  </xacro:thruster_macro>
  <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="5">
    <origin xyz="0.12 0.218 0" rpy="0 0 0"/>
  </xacro:thruster_macro>
  <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="6">
    <origin xyz="-0.12 -0.218  0" rpy="0 0 0"/>
  </xacro:thruster_macro>
  <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="7">
    <origin xyz="-0.12 0.218 0" rpy="0 0 0"/>
  </xacro:thruster_macro>
</robot>