<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="prop_mesh_file" value="file://$(find uuv_descriptions)/meshes/propellers.stl"/>

  <!-- Thruster joint and link snippet -->
  <xacro:macro name="thruster_macro"
    params="namespace thruster_id axis_vector *origin">
    <xacro:thruster_module_first_order_basic_fcn_macro
      namespace="${namespace}"
      thruster_id="${thruster_id}"
      mesh_filename="${prop_mesh_file}"
      axis_vector="${axis_vector}"
      dyn_time_constant="0.0018"
      rotor_constant="3.3632e-08">
      <xacro:insert_block name="origin"/>
    </xacro:thruster_module_first_order_basic_fcn_macro>
  </xacro:macro>

  <xacro:thruster_macro namespace="${namespace}" thruster_id="0" axis_vector="0 1 0">
    <origin xyz="-0.42655 -0.13124 -0.10658" rpy="1.0472 0 0"/>
  </xacro:thruster_macro>
  <xacro:thruster_macro namespace="${namespace}" thruster_id="1" axis_vector="0 1 0">
    <origin xyz="-0.42555 0.13124 -0.10058" rpy="2.0944 0.0 0.0"/>
  </xacro:thruster_macro>
  <xacro:thruster_macro namespace="${namespace}" thruster_id="2" axis_vector="0 1 0">
    <origin xyz="0.45985 -0.13671 -0.10895" rpy="1.0472 0.0 0.0"/>
  </xacro:thruster_macro>
  <xacro:thruster_macro namespace="${namespace}" thruster_id="3" axis_vector="0 1 0">
    <origin xyz="0.46000 0.13124 -0.10058" rpy="2.0944 0.0 0.0"/>
  </xacro:thruster_macro> 
  <xacro:thruster_macro namespace="${namespace}" thruster_id="4" axis_vector="0 1 0">
    <origin xyz="-0.0690 -0.13693 0.10894" rpy="0 0.0 -1.5708"/>
  </xacro:thruster_macro>
  <xacro:thruster_macro namespace="${namespace}" thruster_id="5" axis_vector="0 1 0">
    <origin xyz="-0.0685 0.1395 0.10894" rpy="0.0 0.0 -1.5708"/>
  </xacro:thruster_macro>
  <xacro:thruster_macro namespace="${namespace}" thruster_id="6" axis_vector="0 1 0">
    <origin xyz="0.30596 0.09076 0.16989" rpy="0.0 0.0 0.0"/>
  </xacro:thruster_macro>
  <xacro:thruster_macro namespace="${namespace}" thruster_id="7" axis_vector="0 1 0">
    <origin xyz="-0.2711 0.09076 0.16989" rpy="0.0 0.0 0.0"/>
  </xacro:thruster_macro>
</robot>